# Python
__pycache__/
*.py[cod]
*.egg-info/
db.sqlite3

# Node
node_modules/
dist/

# Docker
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
